.DS_Store

# Ignore IDE-specific files
.idea

# Ignore old data files
data.old

# Ignore Cached Files
__pycache__
**/__pycache__

# Ignore virtual environment
venv

# Ignore files
*_doc_vectors.txt
*_word_vectors.txt

# Ignore folders
data/corpus.cleaned
data/corpus.shuffled
.vscode
