.DS_Store

# Ignore IDE-specific files
.idea

# Ignore vscode files
.vscode

# Ignore old data files
data.old

# Ignore processed files
corpus.cleaned
corpus.shuffled

# Ignore Cached Files
__pycache__
**/__pycache__

# Ignore virtual environment
venv

*_doc_vectors.txt
*_word_vectors.txt
